@use "./partials/palette";
@use "./partials/typography";
@use "./partials/mixin";
@use "./partials/devices";
@use "./modules/navbar.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: palette.$primary-bg-color;
    font-family: typography.$primary-font;
}

.content-home {
    background-color: palette.$primary-bg-color;
    @include mixin.flex-center;
    padding-top: 50px;

    &__container {
        font-family: typography.$primary-font;
        font-size: 3rem;
        padding: 5px;
        font-weight: bolder;
        font-style: italic;
        color: palette.$primary-font-color;

        @include devices.phoneOnly {
            @include mixin.flex-center;
            font-size: 2rem;
        }
    }
}

.header {
    @include mixin.flex-column-nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: palette.$primary-bg-color;
    margin: 5px;
    padding-top: 80px;
    padding-bottom: 40px;

    &__title {
        font-family: typography.$primary-font;
        font-style: italic;
        color: palette.$primary-font-color;
        @include devices.phoneOnly {
            font-size: x-large;
        }
    }

    &__subtitle {
        font-family: typography.$primary-font;
        font-style: italic;
        color: palette.$primary-font-color;
    }
}

.content-about {
    @include mixin.flex-row-wrap;
    justify-content: center;
    align-content: space-between;
    margin: 10px;
    padding: 10px;

    &__card {
        @include mixin.flex-row-wrap;
        justify-content: center;

        &--img {
            filter: grayscale(0);
            max-width: 300px;

            margin: 0 5vw;
            box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        }
        &--text {
            max-width: 360px;
            padding: 10px;
            font-family: typography.$primary-font;
            color: palette.$primary-font-color;
        }
    }
}

.content-skills {
    @include mixin.flex-center;
    border: none;
    margin-left: 60px;
    margin-right: 60px;
    padding: 40px;

    font-family: typography.$primary-font;
    color: palette.$primary-font-color;
    font-weight: bold;

    &__container {
        flex-direction: column;
        @include mixin.flex-row-wrap;
        justify-content: space-evenly;

        &--list {
            list-style: none;
            @include mixin.flex-row-wrap;
            justify-content: space-evenly;

            &-item {
                padding: 15px;
                margin: 5px;
                font-family: typography.$primary-font;
                font-style: italic;
                font-size: x-large;
                @include devices.phoneOnly {
                    font-size: large;
                }
            }
        }
    }
}

.content-projects {
    &__group {
        @include mixin.flex-row-wrap;
        justify-content: center;
        align-items: flex-start;

        color: palette.$primary-font-color;
        &--item {
            padding: 20px;
            margin: 10px;
            @include mixin.flex-center;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 500px;
            border: 1px solid purple;

            &-title {
                @include mixin.flex-column-nowrap;
                justify-content: flex-start;
                align-items: center;
            }
            &-thumbnail {
                width: 200px;
                height: 250px;
                object-fit: cover;
                border-radius: 20px;
                transition: 0.5s;
                padding-bottom: 10px;
            }
            &-name {
                display: block;
                font-size: 1.17em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-family: typography.$primary-font;
                font-weight: bold;
                padding-top: 10px;
            }
            &-desc {
                display: inline;
                padding: 0 20px;
                font-family: typography.$primary-font;
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: palette.$tertiary-bg-color;
    @include mixin.flex-center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px 0;
    @include devices.phoneOnly {
        position: relative;
    }

    &__links {
        @include mixin.flex-column-nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0px;
        padding: 10px;

        &--items {
            font-family: typography.$primary-font;
            padding: 2px;
            font-weight: bold;
            text-decoration: none;
            font-size: larger;
            color: palette.$primary-font-color;
        }
    }
}
