.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: purple;
  background-color: #ffc3c3;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
.navbar__logo {
  padding: 10px;
  margin-left: 5vw;
}
.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.navbar__menu--hBtn {
  padding: 4px 10px 10px 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
.navbar__menu--hBtn-bar {
  background-color: purple;
  width: 35px;
  height: 5px;
  margin-top: 6px;
  border-radius: 4px;
}
@media only screen and (min-width: 768px) {
  .navbar__menu--hBtn {
    display: none;
  }
}
.navbar__menu--container {
  list-style: none;
  display: none;
}
.navbar__menu--container.--active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  text-align: right;
}
.navbar__menu--container-item {
  color: purple;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .navbar__menu--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ff8c8c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content-home {
  background-color: #ff8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.content-home__container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  padding: 5px;
  font-weight: bolder;
  font-style: italic;
  color: purple;
}
@media only screen and (max-width: 768px) {
  .content-home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8c8c;
  margin: 5px;
  padding-top: 80px;
  padding-bottom: 40px;
}
.header__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: purple;
}
@media only screen and (max-width: 768px) {
  .header__title {
    font-size: x-large;
  }
}
.header__subtitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: purple;
}

.content-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 10px;
  padding: 10px;
}
.content-about__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content-about__card--img {
  filter: grayscale(0);
  max-width: 300px;
  margin: 0 5vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.content-about__card--text {
  max-width: 360px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: purple;
}

.content-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 10px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: purple;
  font-weight: bold;
}
.content-skills__container {
  flex-direction: column;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content-skills__container--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content-skills__container--list-item {
  padding: 15px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: x-large;
}
@media only screen and (max-width: 768px) {
  .content-skills__container--list-item {
    font-size: large;
  }
}

.content-projects__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: purple;
}
.content-projects__group--item {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 500px;
}
.content-projects__group--item-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.content-projects__group--item-thumbnail {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
  padding-bottom: 10px;
}
.content-projects__group--item-name {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 10px;
}
.content-projects__group--item-desc {
  display: inline;
  padding: 0 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #ff5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .footer {
    position: relative;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
  padding: 10px;
}
.footer__links--items {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 2px;
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
  color: purple;
}
